body {
    padding-top: 115px;
    background-image: url('../assets/img/wave.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('../assets/img/wave-phone.png');
    }
}

#mainNav {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #18534F;
    color: white;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: none;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }

    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }

    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }

    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }

    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }

    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}

header.masthead .container {
    padding: 15px;
    color: white;
}

header .img-header {
    text-align: center;
    color: black;
    width: 500px;
    height: auto;
    margin: auto;
}

header.masthead ul {
    list-style: none;
}

header.masthead ul li {
    margin-bottom: 10px;
}

header.masthead ul li svg {
    margin-right: 5px;
    font-size: 23px;
    transform: translateY(3px);
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.8em;
    line-height: 1.1em;
    letter-spacing: -1px;
    text-align: center;
}

section.container {
    padding-top: 5rem 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.25rem;
    /* font-weight: 700; */
    margin-bottom: 1.1rem;
}

p {
    font-size: 0.75rem;
}

#etapes .etapes-btn-details {
    font-weight: 700;
    color: #226D68;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: 3px dashed transparent;
    border-bottom-color: #226D68;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#etapes .etapes-btn-details:hover {
    border: 3px solid #18534F;
    padding: 5px;
    color: #18534F;
}


#etapes {
    padding: 0 5%;
}

#etapes h3,
#etapes h4 {
    margin: 0;
}

#etapes h3 {
    display: flex;
    align-items: center;
    text-align: center;
}

#etapes .etapes-step .line-arrow h4 {
    margin: 0;
}

#etapes .etapes-step .line-arrow {
    background-color: #18534F;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
}

#etapes .etapes-step .col-number {
    color: #18534F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

@media screen and (min-width: 530px) {
    .col-line-description {
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    h2 {
        font-size: 1.8em !important;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.5em!important;
    }
}

@media (max-width: 992px) {
    #etapes {
        padding: 0 5%;
    }

    #etapes .etapes-step .col-number span {
        width: 30px !important;
        height: 30px !important;
        font-size: 20px !important;
    }

    #etape h3 {
        font-size: 1rem !important;
        margin: 0 !important;
        padding-left: 1rem !important;
    }    
}

#etapes .etapes-step .col-number span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 30px;
    font-weight: 700;
    background-color: white;
    border-radius: 100%;
}

#etapes .etapes-step .etapes-step-arrow {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 50px solid #18534F;
    position: relative;
    margin-left: -1px;
    color: white;
}

#etapes .etapes-step-number {
    background-color: #18534FBB;
    color: white;
}

#etapes .etapes-step .col-line {
    width: calc(50% - 50px);
}

#etapes .etapes-step > .etapes-step-number:nth-child(2n) .col-line:not(.col-line-description) {
    width: calc(40% - 50px);
}

#etapes .col-line-description-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 530px) {
    #etapes .col-line-description-ul {
        align-items: flex-start;
        flex-direction: column;
    }

    #etapes .col-line-description-ul ul {
        margin: 0 !important;
    }

    #etapes .etapes-step .etapes-step-arrow {
        border-top: 150px solid transparent !important;
        border-bottom: 150px solid transparent !important;
    }

    #etapes .col-line-description {
        padding-left: 1rem;
    }

    #etapes .etapes-step .line-arrow {
        height: 300px !important;
    }

    .col-line {
        min-width: calc(100% - 25px) !important;
    }
}

@media screen and (max-width: 768px) {
    #etapes .etapes-step .line-arrow {
        height: 200px;
    }

    #etapes .etapes-step .etapes-step-arrow {
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
    }

    .col-line {
        min-width: calc(100% - 50px) !important;
    }

    #etapes .etapes-step-number {
        background-color: transparent !important;
    }

    #etapes .etapes-step-number .etapes-btn-details {
        right: 50% !important;
        transform: translateX(50%);
    }
}

#etapes .etapes-step > .etapes-step-number:nth-child(2n +1) {
    background-color: #226d68BB;
}

#etapes .etapes-step > .etapes-step-number:nth-child(2n +1) .etapes-step-arrow {
    border-left-color: #226d68;
}

#etapes .etapes-step > .etapes-step-number:nth-child(2n +1) .line-arrow {
    background-color: #226d68;
}

#etapes .etape-arrow > * > * {
    z-index: 1;
}

#etapes .col-line-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 1rem;
}

#etapes .etapes-step-number .etapes-btn-details {
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 5px 5px 3px;
    border-color: white;
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
    width: max-content;
}

#etapes .col-line-description ul {
    margin: 0 auto;
}

#etapes .col-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#etapes .etape-arrow .col-text h3 {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1260px) and (max-width: 1520px) {
    #etapes ul {
        font-size: 0.9rem !important;
    }
}

@media screen and (min-width: 1521px) {
    #etapes ul {
        font-size: 0.9rem !important;
    }
}

#etapes ul {
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    position: relative;
    max-width: 120%;
}

#etapes .etape-arrow .col-text li svg {
    color: #313239;
    margin-right: 5px;
}

#etapes .etape-arrow .col-text {
    padding: 2rem 0;
    min-height: 400px;
}

#etapes .etape-arrow .etape-arrow-item {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#etapes .etapes-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
    border-radius: 100%;
    background-image: linear-gradient(to right, var(--bs-body-color) 0%, #226d68 51%, var(--bs-body-color) 100%);
    margin: auto;
}

#etapes .line,
#container-arrow .line {
    position: absolute;
    height: 15px;
    background-color: #226d68;
    z-index: auto;
    transform-origin: left;
}

#etapes .col-etapes-number,
#container-arrow .col-etapes-number {
    z-index: 1;
    padding-right: 1em;
}

#etapes .canvas {
    position: relative;
}

.etape-space {
    z-index: 1;
}

#etapes h2 {
    line-height: 3rem;
    margin-bottom: 3rem;
}


.btn-devis {
    cursor: pointer;
    background-image: linear-gradient(to right, #D6955B 0%, #226d68 51%, #D6955B 100%);
    margin: 10px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    font-size: 1rem;
    border-radius: 10px;
    display: block;
    width: 17em;
    text-decoration: none;
    font-weight: 700;
    height: min-content;
}

.btn-devis:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#services {
    background-color: #ffffffBB;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 3rem;
}

#services h2 {
    line-height: 2em;
}

#services p {
    font-size: 1rem;
}

#services .examples-card {
    margin: 1em auto;
    text-align: center;
    color: #18534F;
    border-radius: 15px;
    padding: 2em;
}

#services .examples-card svg {
    width: 18%;
    height: auto;
    margin-bottom: 15px;
}

#services .examples-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

#services .examples-card p {
    font-size: 0.875rem;
}

.text-background {
    background-color: #18534F;
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
}

#portfolio h3 {
    color: #D6955B;
    text-align: center;
}

#portfolio .img-portfolio {
    width: 100%;
    height: auto;
    margin: auto;
}

#portfolio .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
}
#portfolio .portfolio-card {
    border-radius: 15px;
    box-shadow: #226D68 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding-bottom: 8px;
    margin: 15px;
    min-width: 325px;
    max-width: 400px;
}

#portfolio .portfolio-card h3 {
    background-color: #226D68;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ecf8f6;
    margin-bottom: 0;
}

#portfolio .portfolio-card .eportfolio-carac {
    display: flex;
    flex-wrap: wrap;
}

#portfolio .portfolio-card .eportfolio-carac span {
    background-color: #D6955B;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0px;
    margin: 5px 5px 5px;
}

#portfolio .portfolio-card .link-page {
    width: 100%;
    height: 50px;
    position: relative;
}

#portfolio .portfolio-card .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .portfolio-card .wrapper .link_wrapper {
    position: relative;
}

#portfolio .portfolio-card .wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #226D68;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #226D68;
    transition: all .35s;
    border-radius: 15px;
}

#portfolio .portfolio-card .link-page {
    position: relative;
}

#portfolio .portfolio-card .wrapper .icon {
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .portfolio-card .wrapper .icon svg {
    width: 30px;
    transform: rotate(-45deg);
    color: #226D68;
    transition: all .35s;
}

#portfolio .portfolio-card .wrapper a:hover {
    width: 200px;
    border: 3px solid #226D68;
    background: transparent;
    color: #226D68;
}

#portfolio .portfolio-card .wrapper a:hover + .icon {
    border: 3px solid #226D68;
    right: -25%;
}

.modal #container-arrow {
    position: relative;
}

#container-arrow .line {
    background-color: #D6955B;
}

.modal .modal-etapes-arrow-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 100%;
    background-image: linear-gradient(to right, #FEEAA1 0%, #D6955B 51%, #FEEAA1 100%);
    margin: auto;
}

.modal h3 {
    font-size: 1.75rem;
    height: 40px;
    display: flex;
    align-items: center;
    color: #D6955B;
}

.modal h4 {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #226D68;
}

.modal .etape-criteres-web h4 {
    background: #D6955B;
    width: 100%;
    padding: 15px 10px;
    border-radius: 20px 20px 0 0;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.modal .etape-criteres-web p svg {
    margin-right: 0.5rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-0.5rem);
    color: #D6955B;
}

.modal p {
    font-size: 0.9rem;
    font-style: italic;
    color: #226D68;
}

.modal .etape-criteres-web p {
    padding: 8px 2em 1.5rem;
    border: 5px solid #D6955B;
    border-top: 0;
    height: -webkit-fill-available;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.modal .etape-criteres-web {
    position: relative;
}

.modal .etape-criteres-web > * {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.modal .modal-separator-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.modal .modal-icon-close {
    font-size: 2rem;
}

.modal .text-background {
    background-color: #D6955B;
    color: white;
}

.col-separate {
    border: 10px #D6955B;
    margin-bottom: 2em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: dotted;
}

#contact > p {
    font-size: 1rem;
    margin-bottom: 5rem;
}

#contact .contact-infos h3 {
    text-align: left;
}

#contact .contact-infos {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px 0 0 15px;
}

#contact .contact-infos a {
    color: #226d68;
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    #contact .contact-form {
        min-width: 650px;
    }
}

#contact .contact-form {
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: #226D68 0 0 30px 15px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#contact address p {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

#contact address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact .contact-form label {
    font-size: 0.8rem;
}

#contact .contact-form .row {
    text-align: left;
}

#contact .form-control {
    padding: 1em;
}

#confirmation-message {
    margin-top: 2rem;
    color: #226D68;
    text-decoration: underline;
}